.row {
  max-width: $grid-width;
  margin: 0 auto;

  &:not(:last-child) {
    margin-bottom: $gutter-vertical;

    @include respond(tab-port) {
      margin-bottom: $gutter-vertical-small;
    }
  }

  @include respond(tab-port) {
    max-width: 50rem;
  }

  @include clearfix;

  [class^="col"] {
    float: left;

    &:not(:last-child) {
      margin-right: $gutter-horizontal;
      margin-bottom: $gutter-vertical-small;

      @include respond(tab-port) {
        margin-right: 0;
      }
    }

    @include respond(tab-port) {
      width: 100% !important;
    }
  }

  .col1-2 {
    width: calc((100% - #{$gutter-horizontal}) / 2);
  }

  .col1-3 {
    width: calc((100% - 2 * #{$gutter-horizontal}) / 3);
  }

  .col2-3 {
    width: calc(
      2 * ((100% - 2 * #{$gutter-horizontal}) / 3) + #{$gutter-horizontal}
    );
  }

  .col1-4 {
    width: calc((100% - 3 * #{$gutter-horizontal}) / 4);
  }
}
