.feature-box {
  background-color: rgba($color-white, 0.8);
  padding: 5rem 2.5rem;
  text-align: center;
  border-radius: 0.5rem;
  font-size: 1.5rem;
  box-shadow: 0 1.5rem 4rem rgba($color-black, 0.2);
  transition: transform 0.4s;
  backface-visibility: hidden;

  @include respond(tab-port) {
    padding: 2.5rem;
  }

  &__icon {
    font-size: 6rem;
    margin-bottom: 0.5rem;
    display: inline-block;
    background-image: linear-gradient(
      to right,
      $color-primary-light,
      $color-primary-dark
    );
    -webkit-background-clip: text;
    color: transparent;

    @include respond(tab-port) {
      margin-bottom: 0;
    }
  }

  &:hover {
    transform: translateY(-1.5rem) scale(1.03);
    box-shadow: 0 1rem 2rem rgba($color-black, 0.3);
  }
}
